/* App.css */

body {
    font-family: Arial, sans-serif;
    align-content: center;
    background-color: #d4b4dc;
    margin: 2rem;
    padding: 0;
  }
  
  h2, h3, h4 {
    color: #192850;
  }
  
.title {
    color: #243256;
}

  .container {

    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f2ea;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  input {
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    
  }
  
  button:hover {
    
    background-color: #0056b3;
    background-color: #73b7ff;
    transition: background-color 0.3s ease;
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    color: #243256;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  